body {
    width: 100%;
    height: 100%;
    padding: 0, 50px, 50px, 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans';
    font-size: 22px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAYklEQVQIWwFXAKj/AfGclP/u8fYAEzEjAA0yNAD9//wA/gH6AKGdvAAB2YqN//Dy+wAKEAcAJ0s4AAQiIwDa1tcAopq9AAHSf4n/+gABAPj7/QAiNR4AGUc9AKShuADW0OMAsUslepP73O0AAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    width: 100%;
    background-color: rgba(255,255,255,.2);
    clear: both;
    padding-bottom: 25px;
    margin: -10px -15px 30px -15px;
    box-shadow: 0 0 5px 10px rgba(255,255,255,.2);
}

section#left {
    margin: 0px 20px 10px 20px;
    width: 60%;
}

aside {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: -20px;
    color: #193661;
    display: inline-block;
    height: 800px;
}

footer {
    clear: both;
    height: 100px;
    width: 100%;
}

h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 120px;
    font-weight: bold;
    font-stretch: expanded;
    text-shadow: 2px 2px #0a0a0a;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -15px;
    color: #4e4c67;
}

h2 {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #555b6e;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
    color: #555b6e;

}

h3:hover {
    cursor: pointer;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -15px;

}

td {
    font-size: 20px;
    padding-left: 20px ;
    margin-top: -15px;
    color: #3c3744;
}

img {
    margin: 12px;
    border-radius: 20px;
}

#left {
    float: left;
}
#right {
    float: right;
}

#gif {
    height: 250px;
    width: 400px;
    margin: auto;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}

.center {
    position: center;
}

a {
    text-decoration: none;
    color: #d6a731;
}
