body {
    padding: 0, 50px, 50px, 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans';
    font-size: 20px;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;

}


h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 120px;
    font-weight: bold;
    font-stretch: expanded;
    text-shadow: 2px 2px #0a0a0a;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -20px;
    color: #D6a731;
}

h2 {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #555b6e;
    margin-top: -15px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
    color: #555b6e;

}

h3:hover {
    cursor: pointer;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -15px;

}

td {
    font-size: 20px;
    padding-left: 20px ;
    margin-top: -15px;
    color: #3c3744;
}

img {
    margin: 12px;
    border-radius: 20px;
}

#header {
    height: 150px;
    width: auto;
    clear: both;
    margin-top: -15px;
    margin-bottom: 20px;
}

section#left {
    margin: 0px 20px 10px 20px;
    width: 60%;
}

section#right {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: -20px;
    color: #193661;
    display: inline-block;
}

#left {
    float: left;
}
#right {
    float: right;
}

#breathingRoom {
    height: 20px;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}

.center {
    position: center;
}

a {
    text-decoration: none;
    color: #d6a731;
}
